<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#e95634">
	<link rel="shortcut icon" href="8272590683557739008613140560444650693670628686373553481165496530888803523625_32x32.jpg?v=1602156933" type="image/png" />
	<link rel="canonical" href="index.html">
	<title>
	Bam of New York, Inc. Business Law, Intellectual Property, Litigation &ndash; Bam of New York, Inc.
	</title>
	<meta name="description" content="Bam of New York, Inc. - Business Law, Intellectual Property, Probate &amp; Estate Planning, Litigation, Real Estate Law. Protecting Your Ideas. Setting You Up For Success. Not Just Your Attorney. A Part Of Your Team. Responsive. Diligent. Effective. Experienced legal counsel for your business is an essential part of ...">
	<!-- /snippets/social-meta-tags.liquid -->
	<meta property="og:site_name" content="Bam of New York, Inc.">
	<meta property="og:url" content="index.html">
	<meta property="og:title" content="Bam of New York, Inc. Business Law, Intellectual Property, Litigation">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Bam of New York, Inc. - Business Law, Intellectual Property, Probate &amp; Estate Planning, Litigation, Real Estate Law. Protecting Your Ideas. Setting You Up For Success. Not Just Your Attorney. A Part Of Your Team. Responsive. Diligent. Effective. Experienced legal counsel for your business is an essential part of ...">
	<meta name="twitter:site" content="@https://">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Bam of New York, Inc. Business Law, Intellectual Property, Litigation">
	<meta name="twitter:description" content="Bam of New York, Inc. - Business Law, Intellectual Property, Probate &amp; Estate Planning, Litigation, Real Estate Law. Protecting Your Ideas. Setting You Up For Success. Not Just Your Attorney. A Part Of Your Team. Responsive. Diligent. Effective. Experienced legal counsel for your business is an essential part of ...">
	<link href="theme-uj4ogf5vr9o73kwuk1q83aayq1qfjp5n501zaw4vv5vr740gxay95i3hp.css?v=212230520834100639" rel="stylesheet" type="text/css" media="all" />
	<script>
		window.theme = window.theme || {};
		theme.strings = {
		  cartEmpty: "Your cart is currently empty.",
		  savingHtml: "You're saving [savings]",
		  addToCart: "Add to cart",
		  soldOut: "Sold out",
		  unavailable: "Unavailable",
		  addressError: "Error looking up that address",
		  addressNoResults: "No results for that address",
		  addressQueryLimit: "nu5sad7ob3hffxq6d9bg8gg389y4p1j2m636gw2ffgc5b0dvig6s8b57g",
		  authError: "c0z5gjega6aaekh2mypualjmwxlmmqav46ig0oh84oaiof1sbr0ojfyf8"
		};
		theme.settings = {
		  cartType: "drawer",
		  moneyFormat: "${{amount}}"
		};
	</script>
	<script src="lazysizes.min.js?v=15522312340271661705" async="async"></script>
	<script src="vendor.js?v=14118869943703623725" defer="defer"></script>
	<script src="option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" defer="defer"></script>
	<script src="theme-crh9nscgqfebnfmdcfykkhjg3e3xlr6xz89cqlqd75wr0ppbtct5bx2g8.js?v=6356134932326256796" defer="defer"></script>
	<script integrity="sha256-GkS6D0JfVvFoaxmvX+T8Owz974xJVdRRDQbxbJf9Nmg=" data-source-attribution="shopify.loadfeatures" defer="defer" src="load_feature-15t5q2pk2dsgeap8mecyz4cbfvqqf12d6y5bb2wsyye95j9lf9pgbewcz.js" crossorigin="anonymous"></script>
	<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="features-af0ub2pvq5oydjt18s18qfw8rlm2ssw0v9ouowgovhxeaoybdejplgwcy.js" crossorigin="anonymous"></script>
	<style id="shopify-dynamic-checkout-cart">
	@media screen and (min-width: 750px) {
		#dynamic-checkout-cart {
			min-height: 50px;
		}
	}
	@media screen and (max-width: 750px) {
		#dynamic-checkout-cart {
			min-height: 120px;
		}
	}
	</style>
	<script src="jquery-2.2.3.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
	<link href="freeze-zbpvmr2o86cy9ze2up7ykakdvg3iy2rfksuzzeo6zoawcvyypniwoivza.css" type="text/css" rel="stylesheet"/>
	<script src="freeze-fzj9z14dmidtd633g0q6t3xyknvpx8eqvijyhm5w57cpz6cvhl5475y7x.js" type="text/javascript"></script>
	<script src="main-de563qhyep7y8fxr6hxok7ks1gws1ghy7b8vtrm3ihcop0kpcsddslsfa.js" type="text/javascript" rel="nofollow"></script>
	<script>
		function UJhetgdtoppp(){
			  FreezeUI();
		}
	</script>
</head>
<body id="bam-of-new-york-inc-business-law-intellectual-property-litigation" class="template-index"><script>UJhetgdtoppp();</script><div id="SearchDrawer" class="search-bar drawer drawer--top"><div class="search-bar__table">
      <form action="#search" method="get" class="search-bar__table-cell search-bar__form" role="search">
        <div class="search-bar__table">
          <div class="search-bar__table-cell search-bar__icon-cell">
            <button type="submit" class="search-bar__icon-button search-bar__submit">
              <span class="icon icon-search" aria-hidden="true"></span>
              <span class="icon__fallback-text">Search</span>
            </button>
          </div>
          <div class="search-bar__table-cell">
            <input type="search" id="SearchInput" name="q" value="" placeholder="Search our store" aria-label="Search our store" class="search-bar__input">
          </div>
        </div>
      </form>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="search-bar__icon-button search-bar__close js-drawer-close">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="icon__fallback-text">close (esc)</span>
        </button>
      </div>
    </div>
  </div>
  <div id="NavDrawer" class="drawer drawer--left">
  <div id="shopify-section-sidebar-menu" class="shopify-section sidebar-menu-section"><div class="drawer__header" data-section-id="sidebar-menu" data-section-type="sidebar-menu-section">
  <div class="drawer__close">
    <button type="button" class="drawer__close-button js-drawer-close">
      <span class="icon icon-x" aria-hidden="true"></span>
      <span class="icon__fallback-text">Close menu</span>
    </button>
  </div>
</div>
<div class="drawer__inner">
  <ul class="drawer-nav">
    
      
      
        <li class="drawer-nav__item">
          <a href="index.html" class="drawer-nav__link h2" aria-current="page">Home</a>
        </li>
      
    
      
      
        <li class="drawer-nav__item">
          <a href="practice-areas.html" class="drawer-nav__link h2">Practice Areas</a>
        </li>
      
    
      
      
        <li class="drawer-nav__item">
          <a href="about.html" class="drawer-nav__link h2">About</a>
        </li>
      
    
      
      
        <li class="drawer-nav__item">
          <a href="contact.html" class="drawer-nav__link h2">Contact</a>
        </li>
      
    

    <li class="drawer-nav__spacer"></li>

    
    
      <li class="drawer-nav__item drawer-nav__item--secondary"><a href="index.html">Home</a></li>
    
      <li class="drawer-nav__item drawer-nav__item--secondary"><a href="terms-of-service.html">Terms of Service</a></li>
    
      <li class="drawer-nav__item drawer-nav__item--secondary"><a href="privacy-policy.html">Privacy Policy</a></li>
    
      <li class="drawer-nav__item drawer-nav__item--secondary"><a href="contact.html">Contact</a></li>
    
  </ul>

  <ul class="list--inline social-icons social-icons--drawer">
    
      <li>
        <a href="https://twitter.com/" title="Bam of New York, Inc. on Twitter">
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="visually-hidden">Twitter</span>
        </a>
      </li>
    
    
      <li>
        <a href="https://www.facebook.com/" title="Bam of New York, Inc. on Facebook">
          <span class="icon icon-facebook" aria-hidden="true"></span>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
    
    
      <li>
        <a href="https://www.pinterest.com/" title="Bam of New York, Inc. on Pinterest">
          <span class="icon icon-pinterest" aria-hidden="true"></span>
          <span class="visually-hidden">Pinterest</span>
        </a>
      </li>
    
    
    
      <li>
        <a href="https://instagram.com/" title="Bam of New York, Inc. on Instagram">
          <span class="icon icon-instagram" aria-hidden="true"></span>
          <span class="visually-hidden">Instagram</span>
        </a>
      </li>
    
    
      <li>
        <a href="https://snapchat.com/" title="Bam of New York, Inc. on Snapchat">
          <span class="icon icon-snapchat" aria-hidden="true"></span>
          <span class="visually-hidden">Snapchat</span>
        </a>
      </li>
    
    
    
    
    
  </ul>
</div>




</div>
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__header">
      <div class="drawer__close">
        <button type="button" class="drawer__close-button js-drawer-close">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="icon__fallback-text">Close cart</span>
        </button>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer">
      </div>
    </div>
  </div>

  <div id="PageContainer">
    <div id="shopify-section-announcement-bar" class="shopify-section">
  
    <style>
      .announcement-bar {
        background-color: #cc9d8e;
      }

      .announcement-bar--link:hover {
        

        
          
          background-color: #d5ada1;
        
      }

      .announcement-bar__message {
        color: #fff;
      }
    </style>

    
      <a href="contact.html" class="announcement-bar announcement-bar--link">
    

      <p class="announcement-bar__message">Not Just Your Attorney. A Part Of Your Team. Contact &gt;&gt;&gt;</p>

    
      </a>
    

  





</div>

    <div class="site-header-wrapper">
      <div class="site-header-container">
        <div id="shopify-section-header" class="shopify-section header-section"><style>
  .site-header__logo img {
    max-width: 187px;
  }
  @media screen and (max-width: 749px) {
    .site-header__logo img {
      max-width: 100%;
    }
  }
</style>

<header class="site-header" role="banner" data-section-id="header" data-section-type="header-section">
  <div class="grid grid--no-gutters grid--table site-header__inner">
    <div class="grid__item one-third medium-up--one-sixth">
      <button type="button" class="site-header__link text-link site-header__toggle-nav js-drawer-open-left">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        <span class="icon__fallback-text">Menu</span>
      </button>
    </div>
    <div class="grid__item one-third medium-up--two-thirds">
      <div class="site-header__logo h1" itemscope itemtype="http://schema.org/Organization"></div>
    </div>

    <div class="grid__item one-third medium-up--one-sixth text-right">
      <a href="#search" class="site-header__link site-header__search js-drawer-open-top">
        <span class="icon icon-search" aria-hidden="true"></span>
        <span class="icon__fallback-text">Search</span>
      </a>
      <a href="#cart" class="site-header__link site-header__cart cart-link js-drawer-open-right">
        <span class="icon icon-cart" aria-hidden="true"></span>
        <span class="icon__fallback-text">Cart</span>
      </a>
    </div>
  </div>
</header>



</div>

        <div class="action-area"></div>
      </div>
    </div>

    <main class="main-content" role="main">
      <!-- /templates/index.liquid -->




  <div id="shopify-section-slideshow" class="shopify-section"><style data-shopify>.site-header__link,
  .site-header__logo-link {
    color: #ffffff !important;
  }

  .hero__text-title {
    color: #ffffff;
  }

  .hero__slide:after {
    background-color: #000;
    opacity: 0.67;
  }

  .hero__button-circle {
    background: rgba(0, 0, 0, 0.3);
  }

  .slick-prev .icon:before,
  .slick-next .icon:before,
  .hero__pause .icon:before {
    color: #ffffff;
  }

  .slick-dots {
    background: rgba(0, 0, 0, 0.3);
  }

  .hero__dots:before {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .slick-active .hero__dots:before {
    background-color: transparent;
    border: 2px solid #ffffff;
  }</style><div data-section-id="slideshow" data-section-type="slideshow-section">
  <div class="hero slideshow-slideshow"
        id="Hero"
        role="region"
        aria-label="slideshow"
        aria-describedby="slideshow-info"
        tabindex="-1"
        data-autoplay="true"
        data-autoplayspeed="7000"
        data-adapt="false"
        data-slide-nav-a11y="Load slide [slide_number]"
        data-slide-nav-active-a11y="Slide [slide_number], current"><div id="SlickSlide1" aria-hidden="true" class="hero__slide hero__slide--slider-0" >
            <img class="hero__image hero__image--slider-0 lazyload"src="https://bamnewyork.gitlab.io/69267664914436250966222766539950155959193222576102876954998159362724299436967687_300x.jpg?v=1602157221"data-src="https://bamnewyork.gitlab.io/69267664914436250966222766539950155959193222576102876954998159362724299436967687_{width}x.jpg?v=1602157221"
              data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
              data-aspectratio="1.7777777777777777"
              data-sizes="auto"
              data-parent-fit="cover"
              alt=""
              style="object-position: center center"><noscript>
                <div class="hero__image-no-js hero__image--slider-0" data-image="slider-0" style="background-image: url('https://bamnewyork.gitlab.io/69267664914436250966222766539950155959193222576102876954998159362724299436967687_2048x2048.jpg?v=1602157221');"></div>
              </noscript><div class="hero__content-wrapper">
            <div class="hero__content">
              <div class="hero__content-centered"><h1 class="hero__text-title" itemscope itemtype="http://schema.org/Organization">
                    Intellectual Property
                  </h1><a href="practice-areas.html" class="btn">
                    Practice Areas
                  </a></div>
            </div>
          </div>
        </div><div id="SlickSlide2" aria-hidden="true" class="hero__slide hero__slide--1602157241212" >
            <img class="hero__image hero__image--1602157241212 lazyload lazypreload"data-src="https://bamnewyork.gitlab.io/198037698411245111752554427602667426420604575446658797439159126985806382818752_{width}x.jpg?v=1602157265"
              data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
              data-aspectratio="1.7777777777777777"
              data-sizes="auto"
              data-parent-fit="cover"
              alt=""
              style="object-position: center center"><div class="hero__content-wrapper">
            <div class="hero__content">
              <div class="hero__content-centered"><h1 class="hero__text-title" itemscope itemtype="http://schema.org/Organization">
                    Business Law
                  </h1><a href="practice-areas.html" class="btn">
                    Practice Areas
                  </a></div>
            </div>
          </div>
        </div><div id="SlickSlide3" aria-hidden="true" class="hero__slide hero__slide--1602157293564" >
            <img class="hero__image hero__image--1602157293564 lazyload lazypreload"data-src="https://bamnewyork.gitlab.io/778868573118944406941131649241570420192446644307663554465680328385495359617800_{width}x.jpg?v=1602157304"
              data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
              data-aspectratio="1.7777777777777777"
              data-sizes="auto"
              data-parent-fit="cover"
              alt=""
              style="object-position: center center"><div class="hero__content-wrapper">
            <div class="hero__content">
              <div class="hero__content-centered"><h1 class="hero__text-title" itemscope itemtype="http://schema.org/Organization">
                    Probate &amp; Estate Planning
                  </h1><a href="practice-areas.html" class="btn">
                    Practice Areas
                  </a></div>
            </div>
          </div>
        </div><div class="hero__controls">
        <div class="hero__dots-wrapper hero__dots-wrapper-desktop"><button class="hero__pause hero__controls-icon" aria-live="polite" aria-label="Pause slideshow" data-label-pause="Pause slideshow" data-label-play="Play slideshow">
              <span class="hero__button-circle"></span>
              <span class="icon icon-pause" aria-hidden="true"></span>
              <span class="icon icon-play" aria-hidden="true"></span>
            </button></div>
        <ul>
          <li>
            <button class="hero__controls-icon slick-prev" aria-label="Previous slide">
              <span class="hero__button-circle"></span>
              <span class="icon icon-arrow" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button class="hero__controls-icon slick-next" aria-label="Next slide">
              <span class="hero__button-circle"></span>
              <span class="icon icon-arrow" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </div></div></div>
<p id="slideshow-info" class="visually-hidden" aria-hidden="true">Use left/right arrows to navigate the slideshow or swipe left/right if using a mobile device</p>


</div>

  <div class="hero__header">
   <div class="action-area">
     <!-- action bar section -->
<div id="shopify-section-action-bar" class="shopify-section action-bar-section"><!-- snippets/action-bar.liquid -->






  
  <div class="action-bar-wrapper  action-bar--hero " data-section-id="action-bar" data-section-type="action-bar-section">


    <nav class="action-bar action-bar--has-menu" role="presentation">
      <ul class="action-bar__menu--main action-bar__menu list--inline  action-bar--show" id="SiteNav" role="navigation">
        
        
          
          
            <li class="action-bar__menu-item action-bar--active">
              <a href="index.html" class="action-bar__link">Home</a>
            </li>
          
        
          
          
            <li class="action-bar__menu-item ">
              <a href="practice-areas.html" class="action-bar__link">Practice Areas</a>
            </li>
          
        
          
          
            <li class="action-bar__menu-item ">
              <a href="about.html" class="action-bar__link">About</a>
            </li>
          
        
          
          
            <li class="action-bar__menu-item ">
              <a href="contact.html" class="action-bar__link">Contact</a>
            </li>
          
        
      </ul>

      
        
        
      
        
        
      
        
        
      
        
        
      
    </nav>
  </div>




</div>
   </div>
 </div>
</div>
<!-- BEGIN content_for_index --><div id="shopify-section-rich-text" class="shopify-section index-section rich-text-section"><div class="rich-text page-width" data-section-id="rich-text" data-section-type="rich-text-section">
  <div class="grid">
    <div class="grid__item rte text-center">
      
        <h2 class="rich-text__heading">We’ll Help You Get There.</h2>
      
      
        <div class="rich-text__text--medium">
          <p>We are your trusted legal advisers every time you have a legal issue or obstacle. Our aim is to help you achieve your goals as quickly as possible in a cost-effective manner. We act in your best interests, not just because it is the right thing to do but because we believe in achieving excellence that results in positive relationships with our clients. We want to be your partners throughout the life of your business, which is why we offer litigation services in addition to the transactional work. We welcome questions regarding any legal matter you encounter. When you contact us, if we know of a lawyer or firm that is better suited to your needs, we are not too proud to refer you to that attorney.</p>
        </div>
      
    </div>
  </div>
</div>




</div><div id="shopify-section-1602157755249" class="shopify-section index-section image-with-text"><div class="feature-row" data-section-id="1602157755249" data-section-type="custom-html-section">
  

  <div class="feature-row grid large-up--grid--table">
    
      
    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__image ">
      
        <noscript>
          <div class="feature-row__image-wrapper">
            <img src="https://bamnewyork.gitlab.io/431736893659811377141964727133032671318505199541937489348197705285153597405150_600x600.jpg?v=1602158022" alt="" class="feature-row__image" />
          </div>
        </noscript>
        <div class="feature-row__image-wrapper" style="padding-top:56.25%;">
          
          <img class="feature-row__image lazyload"
            src="https://bamnewyork.gitlab.io/431736893659811377141964727133032671318505199541937489348197705285153597405150_300x300.jpg?v=1602158022"
            data-src="https://bamnewyork.gitlab.io/431736893659811377141964727133032671318505199541937489348197705285153597405150_{width}x.jpg?v=1602158022"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="1.7777777777777777"
            data-sizes="auto"
            alt="">
        </div>
      
    </div>
  
    

    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__text feature-row__text--left ">
      <div class="feature-row__content">
        
          <h2>Comprehensive Business Law Services</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>Our firm is not just a place you can go to get specific legal services. We are your advocates and guides, helping you strategize and implement your plans to create a path to success. We always act in your best interests by developing innovative solutions to hurdle the obstacles that stand in the way of your aspirations. If there is a more efficient, cost-effective way to achieve your goals, we will advise you of that option and work diligently on your behalf to realize it.</p></div>
        
        
          <a href="practice-areas.html" class="btn">
            Business Law
          </a>
        
      </div>
    </div>

    
  </div>
</div>




</div><div id="shopify-section-1602157782818" class="shopify-section index-section rich-text-section"><div class="rich-text page-width" data-section-id="1602157782818" data-section-type="rich-text-section">
  <div class="grid">
    <div class="grid__item rte text-center">
      
        <h2 class="rich-text__heading">Our lawyers help businesses across the spectrum of industries in a wide range of business matters, including:</h2>
      
      
        <div class="rich-text__text--medium">
          <p>- Business formation;<br>- Business agreements, including shareholder agreements, LLC operating agreements, employment agreements and agreements with clients, customers, vendors and suppliers;<br>- Buy-sell agreements, including stock and asset purchases;<br>- Mergers and acquisitions;<br>- The purchase, sale and lease of real estate and business equipment;<br>- Business divorce (the dissolution of a business);<br>- Litigation and dispute resolution.</p>
        </div>
      
    </div>
  </div>
</div>




</div><div id="shopify-section-1602157766125" class="shopify-section index-section image-with-text"><div class="feature-row" data-section-id="1602157766125" data-section-type="custom-html-section">
  

  <div class="feature-row grid large-up--grid--table">
    

    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__text feature-row__text--right ">
      <div class="feature-row__content">
        
          <h2>Intellectual Property</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>At Bam of New York, Inc., we leverage our extensive experience in intellectual property to your benefit in securing and protecting your copyright and trademark interests.</p>
<p>While we are well-versed in intellectual property matters, we are not registered patent attorneys. However, we work with outside counsel composed of registered patent attorneys to meet copyright needs.</p></div>
        
        
          <a href="practice-areas.html" class="btn">
            Intellectual Property
          </a>
        
      </div>
    </div>

    
      
    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__image ">
      
        <noscript>
          <div class="feature-row__image-wrapper">
            <img src="https://bamnewyork.gitlab.io/35897503526633419796596117051150808892196386724412212508531920711144303700625777_600x600.jpg?v=1602158222" alt="" class="feature-row__image" />
          </div>
        </noscript>
        <div class="feature-row__image-wrapper" style="padding-top:56.25%;">
          
          <img class="feature-row__image lazyload"
            src="https://bamnewyork.gitlab.io/35897503526633419796596117051150808892196386724412212508531920711144303700625777_300x300.jpg?v=1602158222"
            data-src="https://bamnewyork.gitlab.io/35897503526633419796596117051150808892196386724412212508531920711144303700625777_{width}x.jpg?v=1602158222"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="1.7777777777777777"
            data-sizes="auto"
            alt="">
        </div>
      
    </div>
  
    
  </div>
</div>




</div><div id="shopify-section-1602157803017" class="shopify-section index-section rich-text-section"><div class="rich-text page-width" data-section-id="1602157803017" data-section-type="rich-text-section">
  <div class="grid">
    <div class="grid__item rte text-center">
      
        <h2 class="rich-text__heading">Our intellectual property practice includes:</h2>
      
      
        <div class="rich-text__text--medium">
          <p>- Copyright and trademark registration for creative work, marks and designs in a variety of fields and across the spectrum of industries;<br>- Trademark registration, maintenance and protection, including the searches necessary and completing your application in federal and state trademark offices;<br>- Copyright enforcement, including infringement litigation, works under the Digital Millennium Copyright Act (DMCA) and help with international enforcement efforts;<br>- Trademark enforcement, from cease and desist letters to aggressively protecting your interests in court;<br>- Licensing of intellectual property where the owner gives permission to a third party to use the intellectual property rights, in whole or in part, in exchange for a fee or royalty for a specific period of time;<br>- Infringement litigation to prosecute or defend a claim that a protected intellectual property right has been violated.</p>
        </div>
      
    </div>
  </div>
</div>




</div><div id="shopify-section-1602157774920" class="shopify-section index-section image-with-text"><div class="feature-row" data-section-id="1602157774920" data-section-type="custom-html-section">
  

  <div class="feature-row grid large-up--grid--table">
    
      
    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__image ">
      
        <noscript>
          <div class="feature-row__image-wrapper">
            <img src="https://bamnewyork.gitlab.io/276864145517204237632974813055631198119222635352121104993825772727214094045632_600x600.jpg?v=1602158359" alt="" class="feature-row__image" />
          </div>
        </noscript>
        <div class="feature-row__image-wrapper" style="padding-top:59.27777777777777%;">
          
          <img class="feature-row__image lazyload"
            src="https://bamnewyork.gitlab.io/276864145517204237632974813055631198119222635352121104993825772727214094045632_300x300.jpg?v=1602158359"
            data-src="https://bamnewyork.gitlab.io/276864145517204237632974813055631198119222635352121104993825772727214094045632_{width}x.jpg?v=1602158359"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="1.6869728209934396"
            data-sizes="auto"
            alt="">
        </div>
      
    </div>
  
    

    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__text feature-row__text--left ">
      <div class="feature-row__content">
        
          <h2>Probate &amp; Estate Planning</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>The knowledgeable estate planning attorneys at Bam of New York, Inc. have been preparing comprehensive estate plans for decades. From complex trusts to simple wills, we have the knowledge and experience to help you create a tailored estate plan that ensures your wishes are carried out regarding your money, your health and your possessions. Such plans also include health care proxies, living wills and powers of attorney (both durable and springing).</p></div>
        
        
          <a href="practice-areas.html" class="btn">
            Probate &amp; Estate Planning
          </a>
        
      </div>
    </div>

    
  </div>
</div>




</div><div id="shopify-section-1602157795379" class="shopify-section index-section custom-html-section">
<div class="grid grid--uniform" data-section-id="1602157795379" data-section-type="custom-html-section">
  <div class="grid__item ">
    <div class="page-width">
        <div style="text-align:center;">
<h2>Litigation</h2>The most important characteristics to look for in a litigation law firm are practical experience, a client-oriented approach and a history of success.

At Bam of New York, Inc., our firm is composed of veteran litigators and trial attorneys who have litigated cases in a variety of legal areas in federal, state, city, county courts as well as in mediations and arbitrations. Our results speak for themselves. Importantly, our client service remains a priority for our firm. Obtaining results requires individualized attention and a commitment to every client.</div>
    </div>
  </div>
</div>





</div><div id="shopify-section-1602157855493" class="shopify-section index-section image-with-text"><div class="feature-row" data-section-id="1602157855493" data-section-type="custom-html-section">
  

  <div class="feature-row grid large-up--grid--table">
    
      
    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__image ">
      
        <noscript>
          <div class="feature-row__image-wrapper">
            <img src="https://bamnewyork.gitlab.io/9573562902611077993255804162159843299902782040136332643124099846112295074925_600x600.jpg?v=1602158534" alt="" class="feature-row__image" />
          </div>
        </noscript>
        <div class="feature-row__image-wrapper" style="padding-top:56.25%;">
          
          <img class="feature-row__image lazyload"
            src="https://bamnewyork.gitlab.io/9573562902611077993255804162159843299902782040136332643124099846112295074925_300x300.jpg?v=1602158534"
            data-src="https://bamnewyork.gitlab.io/9573562902611077993255804162159843299902782040136332643124099846112295074925_{width}x.jpg?v=1602158534"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="1.7777777777777777"
            data-sizes="auto"
            alt="">
        </div>
      
    </div>
  
    

    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__text feature-row__text--left ">
      <div class="feature-row__content">
        
          <h2>Real Estate Law</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>A Veteran New York Real Estate Lawyer On Your Side</p>
<p>Real estate law in New York is competitive. If you want to ensure that your commercial or residential real estate transaction protects your legal interests, turn to Bam of New York, Inc..</p></div>
        
        
          <a href="practice-areas.html" class="btn">
            Real Estate Law
          </a>
        
      </div>
    </div>

    
  </div>
</div>




</div><div id="shopify-section-1602157827307" class="shopify-section index-section rich-text-section"><div class="rich-text page-width" data-section-id="1602157827307" data-section-type="rich-text-section">
  <div class="grid">
    <div class="grid__item rte text-center">
      
        <h2 class="rich-text__heading">We also represent:</h2>
      
      
        <div class="rich-text__text--medium">
          <p>- Landlords and tenants in connection with commercial leases;<br>- Contractors, subcontractors, suppliers, property owners, lenders, and other vendors in connection with the filing and defense of mechanic&rsquo;s liens as well as the bonds and foreclosure actions related to those liens;<br>- Purchasers and sellers with 1031 exchanges, which allow the deferral of capital gains when a property is sold, and the proceeds are reinvested within certain time limits in a like-kind property.</p>
        </div>
      
    </div>
  </div>
</div>




</div><div id="shopify-section-1602158821058" class="shopify-section index-section image-with-text"><div class="feature-row" data-section-id="1602158821058" data-section-type="custom-html-section">
  

  <div class="feature-row grid large-up--grid--table">
    

    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__text feature-row__text--right ">
      <div class="feature-row__content">
        
          <h2>Providing Thought Leadership To Businesses And Individuals</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>Our New York lawyers stay on the leading edge of business, intellectual property, real estate and estate planning law in the state. Recognized names in the community, our attorneys strive to provide the highest caliber of legal representation with services tailored to your budget, timetables and goals to help you succeed at every stage in the process. Let us help you plan for your future financial success, both in business and for your family.</p></div>
        
        
      </div>
    </div>

    
      
    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__image ">
      
        <noscript>
          <div class="feature-row__image-wrapper">
            <img src="https://bamnewyork.gitlab.io/8704037999143265609206066625544633762074006958296821984852676748037528186308_600x600.jpg?v=1602158882" alt="" class="feature-row__image" />
          </div>
        </noscript>
        <div class="feature-row__image-wrapper" style="padding-top:56.25%;">
          
          <img class="feature-row__image lazyload"
            src="https://bamnewyork.gitlab.io/8704037999143265609206066625544633762074006958296821984852676748037528186308_300x300.jpg?v=1602158882"
            data-src="https://bamnewyork.gitlab.io/8704037999143265609206066625544633762074006958296821984852676748037528186308_{width}x.jpg?v=1602158882"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="1.7777777777777777"
            data-sizes="auto"
            alt="">
        </div>
      
    </div>
  
    
  </div>
</div>




</div><div id="shopify-section-1602158652191" class="shopify-section index-section image-with-text"><div class="feature-row" data-section-id="1602158652191" data-section-type="custom-html-section">
  

  <div class="feature-row grid large-up--grid--table">
    
      
    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__image ">
      
        <noscript>
          <div class="feature-row__image-wrapper">
            <img src="https://bamnewyork.gitlab.io/8272590683557739008613140560444650693670628686373553481165496530888803523625_014e96d6-5317-4f56-8b4a-008618a4ecf8_600x600.jpg?v=1602158692" alt="" class="feature-row__image" />
          </div>
        </noscript>
        <div class="feature-row__image-wrapper" style="padding-top:56.25%;">
          
          <img class="feature-row__image lazyload"
            src="https://bamnewyork.gitlab.io/8272590683557739008613140560444650693670628686373553481165496530888803523625_014e96d6-5317-4f56-8b4a-008618a4ecf8_300x300.jpg?v=1602158692"
            data-src="https://bamnewyork.gitlab.io/8272590683557739008613140560444650693670628686373553481165496530888803523625_014e96d6-5317-4f56-8b4a-008618a4ecf8_{width}x.jpg?v=1602158692"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
            data-aspectratio="1.7777777777777777"
            data-sizes="auto"
            alt="">
        </div>
      
    </div>
  
    

    <div class="grid__item one-half small--one-whole medium--one-whole feature-row__item feature-row__text feature-row__text--left ">
      <div class="feature-row__content">
        
          <h2>Bam of New York, Inc.</h2>
        
        
          <div class="rte-setting featured-row__subtext"><p>Transactional And Litigation Services For Small Businesses And Individuals, Including Corporate Real Estate, Intellectual Property, And Estate Planning And Probate. </p>
<p>Helping Clients Affordably Protect And Exploit Their Businesses, Talents, Brands And Services For More Than 30 Years</p></div>
        
        
          <a href="about.html" class="btn">
            About Us
          </a>
        
      </div>
    </div>

    
  </div>
</div>




</div><div id="shopify-section-newsletter-signup" class="shopify-section index-section newsletter-signup"><div class="newsletter text-center" data-section-id="newsletter-signup" data-section-type="newsletter-signup-section">
  
    <h2 >Subscribe to our newsletter</h2>
  
  
    <div class="rte"><p>Promotions, new products and sales. Directly to your inbox.</p></div>
  
  <div class="wrapper">
    <form method="get" action="contact.html#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
      
      
        <div class="input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <label for="Email" class="newsletter__label label--hidden">Email address</label>
          <input type="email" value="" placeholder="Email address" name="contact[email]" id="Email" class="input-group__field newsletter__input" autocorrect="off" autocapitalize="off">
          <span class="input-group__btn">
            <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
              <span class="newsletter__submit-text--large">Subscribe</span>
            </button>
          </span>
        </div>
      
    </form>
  </div>
</div>




</div><div id="shopify-section-1602157458552" class="shopify-section index-section map">
<style>
  #map-section__image--1602157458552 {
    background-position: center center;
  }
  @media screen and (max-width: 768px) {
    #map-section__image--1602157458552 {
      
        padding-top: 35.51502145922747%;
      
    }
  }
</style>

<div class="map-section" data-section-id="1602157458552" data-section-type="map-section" data-api-key="">
  <div class="page-width map-section__wrapper">
    <div class="map-section__content-wrapper">
      <div class="map-section__overlay">
        
          <h4 class="h1--mini">Bam of New York, Inc.</h4>
        
        
          <div class="rte-setting"><p>555 Madison Ave, New York, NY 10022, United States<br>(212) 758-0455</p></div>
          
            <a href="https://maps.google.com?daddr=555 Madison Ave, New York, NY 10022, United States" class="btn" target="_blank">
              
                <span class="icon icon-pin" aria-hidden="true"></span>
              
                <span>Get directions</span>
            </a>
          
        
      </div>
    </div>
    <div class="map-section__background-wrapper">
      
        <div id="map-section__image--1602157458552" class="map-section__image lazyload"
            data-bgset="https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_540x.jpg?v=1602157706 540w 192h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_720x.jpg?v=1602157706 720w 256h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_900x.jpg?v=1602157706 900w 320h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_1080x.jpg?v=1602157706 1080w 384h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_1296x.jpg?v=1602157706 1296w 460h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_1512x.jpg?v=1602157706 1512w 537h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_1728x.jpg?v=1602157706 1728w 614h,
  https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z.jpg?v=1602157706 1864w 662h"
            data-sizes="auto"
            data-parent-fit="cover"
           style="background-image: url('https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_300x300.jpg?v=1602157706);">
        </div>
        <noscript>
          <div id="map-section__image--1602157458552" class="map-section__image" style="background-image: url(https://bamnewyork.gitlab.io/q3oxlhu59w32lbpz3n5tja5snwyk6e09gw0v9lp0rxpmy5v5bx61oys5z_x800_crop_top.jpg?v=1602157706);"></div>
        </noscript>
      
      
    </div>
  </div>
</div>




</div><!-- END content_for_index -->

    </main>

    <div id="shopify-section-footer" class="shopify-section footer-section"><footer class="site-footer" role="contentinfo">
  
  
    <ul class="list--inline site-footer__linklist">
      
        <li class="h4"><a href="index.html">Home</a></li>
      
        <li class="h4"><a href="terms-of-service.html">Terms of Service</a></li>
      
        <li class="h4"><a href="privacy-policy.html">Privacy Policy</a></li>
      
        <li class="h4"><a href="contact.html">Contact</a></li>
      
    </ul>
  

  <div class="grid text-center large-up--grid--table">
    <div class="grid__item large-up--one-quarter text-center">
      <ul class="list--inline social-icons social-icons--footer">
        
          <li>
            <a href="https://twitter.com/" title="Bam of New York, Inc. on Twitter">
              <span class="icon icon-twitter" aria-hidden="true"></span>
              <span class="visually-hidden">Twitter</span>
            </a>
          </li>
        
        
          <li>
            <a href="https://www.facebook.com/" title="Bam of New York, Inc. on Facebook">
              <span class="icon icon-facebook" aria-hidden="true"></span>
              <span class="visually-hidden">Facebook</span>
            </a>
          </li>
        
        
          <li>
            <a href="https://www.pinterest.com/" title="Bam of New York, Inc. on Pinterest">
              <span class="icon icon-pinterest" aria-hidden="true"></span>
              <span class="visually-hidden">Pinterest</span>
            </a>
          </li>
        
        
        
          <li>
            <a href="https://instagram.com/" title="Bam of New York, Inc. on Instagram">
              <span class="icon icon-instagram" aria-hidden="true"></span>
              <span class="visually-hidden">Instagram</span>
            </a>
          </li>
        
        
        <li>
          <a href="https://snapchat.com/" title="Bam of New York, Inc. on Snapchat">
            <span class="icon icon-snapchat" aria-hidden="true"></span>
            <span class="visually-hidden">Snapchat</span>
          </a>
        </li>
        
        
        
        
        
      </ul>
    </div>
    <div class="grid__item large-up--one-half">
      <span class="site-footer__copyright">&copy; 2020, Bam of New York, Inc. All Rights Reserved.</span>
    </div>
    <div class="grid__item large-up--one-quarter text-center"><span class="visually-hidden">Payment methods</span>
          <ul class="list--inline payment-icons payment-icons--footer"><li>
                <svg class="payment-icons__icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"/><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"/><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"/></g></svg>

              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-boleto"><title id="pi-boleto">Boleto</title><path fill="#fff" d="M35.7 23.965H2.3a2.307 2.307 0 0 1-2.3-2.3v-19.4C0 1 1.035-.035 2.3-.035h33.4c1.265 0 2.3 1.035 2.3 2.3v19.4c0 1.265-1.035 2.3-2.3 2.3z"/><path fill="#A7A8AB" d="M35.564 23.965H2.436c-1.344 0-2.436-1.077-2.436-2.4v-19.2c0-1.323 1.092-2.4 2.436-2.4h33.128c1.344 0 2.436 1.077 2.436 2.4v19.2c0 1.323-1.092 2.4-2.436 2.4zM2.436.925c-.806 0-1.462.646-1.462 1.44v19.2c0 .794.656 1.44 1.462 1.44h33.128c.806 0 1.462-.646 1.462-1.44v-19.2c0-.794-.656-1.44-1.462-1.44H2.436z" opacity=".25"/><path d="M8.079 4.945h.7v6.298h-.7zm-1.83 0h.7v6.298h-.7zm7.256 0h1.901v6.298h-1.901zm9.715 0h.95v6.298h-.95zm2.324 0h.95v6.298h-.95zm3.804 0h1.221v6.298h-1.221zm-1.375 0h.395v6.298h-.395zm-6.389 0h.395v6.298h-.395zm-.845 0h.395v6.298h-.395zm-2.746 0h.395v6.298h-.395zm-6.31 0h.395v6.298h-.395zm-1.163 0h.733v6.298h-.733zM6.249 19.3v-6.478H8.68c.495 0 .891.065 1.191.196.299.131.532.333.701.606.17.271.255.556.255.855 0 .276-.075.537-.225.781a1.604 1.604 0 0 1-.679.593c.392.115.694.311.903.588.211.276.317.603.317.98 0 .305-.065.587-.193.847a1.644 1.644 0 0 1-.475.603c-.189.14-.425.247-.709.32a4.328 4.328 0 0 1-1.046.109H6.248zm.86-3.755H8.51c.38 0 .653-.026.817-.075a.903.903 0 0 0 .493-.324.936.936 0 0 0 .166-.567 1.03 1.03 0 0 0-.155-.568c-.103-.164-.25-.278-.442-.338s-.52-.09-.985-.09H7.109v1.963zm0 2.995h1.614c.277 0 .472-.011.585-.032.196-.035.362-.094.495-.176a.946.946 0 0 0 .327-.362c.086-.158.128-.341.128-.547 0-.243-.062-.452-.187-.632a.978.978 0 0 0-.516-.377c-.219-.072-.535-.109-.947-.109H7.109v2.235zm4.813-1.588c0-.867.241-1.509.725-1.927.403-.347.896-.52 1.476-.52.644 0 1.172.211 1.582.633.409.421.614 1.004.614 1.748 0 .603-.09 1.077-.271 1.422a1.92 1.92 0 0 1-.792.805 2.292 2.292 0 0 1-1.132.286c-.657 0-1.188-.21-1.594-.63-.406-.421-.608-1.027-.608-1.817zm.814.002c0 .6.131 1.05.394 1.347.264.299.594.448.994.448.395 0 .724-.149.988-.449.262-.3.394-.757.394-1.371 0-.579-.133-1.018-.397-1.315a1.261 1.261 0 0 0-.985-.448c-.4 0-.73.148-.994.445-.262.297-.394.745-.394 1.344zm4.498 2.346v-6.478h.796V19.3h-.796zm5.231-1.52l.823.109c-.128.478-.368.85-.718 1.114-.35.264-.796.397-1.341.397-.685 0-1.227-.211-1.629-.633-.401-.421-.602-1.013-.602-1.775 0-.787.202-1.399.608-1.834.406-.436.932-.653 1.579-.653.626 0 1.137.213 1.534.639.397.427.596 1.027.596 1.8l-.004.211h-3.497c.03.514.175.909.437 1.182a1.3 1.3 0 0 0 .979.41c.291 0 .54-.077.745-.231.207-.154.369-.4.49-.737zm-2.606-1.276h2.615c-.035-.395-.136-.691-.3-.888a1.216 1.216 0 0 0-.983-.46c-.365 0-.671.122-.92.366-.247.244-.385.572-.412.982zm6.164 2.086l.109.703a2.951 2.951 0 0 1-.599.071c-.288 0-.511-.045-.671-.137-.158-.092-.27-.211-.335-.36s-.097-.463-.097-.941v-2.705h-.588v-.615h.588v-1.161l.796-.478v1.639h.796v.615h-.796v2.751c0 .228.014.374.042.439a.324.324 0 0 0 .136.155.53.53 0 0 0 .271.057l.347-.032zm.487-1.638c0-.867.241-1.509.725-1.927.403-.347.896-.52 1.476-.52.644 0 1.172.211 1.582.633.409.421.614 1.004.614 1.748 0 .603-.09 1.077-.271 1.422a1.92 1.92 0 0 1-.792.805 2.292 2.292 0 0 1-1.132.286c-.657 0-1.188-.21-1.594-.63-.406-.421-.608-1.027-.608-1.817zm.814.002c0 .6.131 1.05.394 1.347.264.299.594.448.994.448.395 0 .724-.149.988-.449.262-.3.394-.757.394-1.371 0-.579-.133-1.018-.397-1.315a1.261 1.261 0 0 0-.985-.448c-.4 0-.73.148-.994.445-.262.297-.394.745-.394 1.344z" fill="#221F1F"/></svg>
              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-diners_club"><title id="pi-diners_club">Diners Club</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path d="M12 12v3.7c0 .3-.2.3-.5.2-1.9-.8-3-3.3-2.3-5.4.4-1.1 1.2-2 2.3-2.4.4-.2.5-.1.5.2V12zm2 0V8.3c0-.3 0-.3.3-.2 2.1.8 3.2 3.3 2.4 5.4-.4 1.1-1.2 2-2.3 2.4-.4.2-.4.1-.4-.2V12zm7.2-7H13c3.8 0 6.8 3.1 6.8 7s-3 7-6.8 7h8.2c3.8 0 6.8-3.1 6.8-7s-3-7-6.8-7z" fill="#3086C8"/></svg>
              </li><li>
                <svg class="payment-icons__icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-discover"><title id="pi-discover">Discover</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"/><path d="M37 16.95V21c0 1.1-.9 2-2 2H23.228c7.896-1.815 12.043-4.601 13.772-6.05z" fill="#EDA024"/><path fill="#494949" d="M9 11h20v2H9z"/><path d="M22 12c0 1.7-1.3 3-3 3s-3-1.4-3-3 1.4-3 3-3c1.7 0 3 1.3 3 3z" fill="#EDA024"/></svg>

              </li><li>
                <svg class="payment-icons__icon" role="img" aria-labelledby="pi-elo" width="38" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 24"><title id="pi-elo">Elo</title><g fill-rule="nonzero" fill="none"><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"/><g fill="#000"><path d="M13.3 15.5c-.6.6-1.4.9-2.3.9-.6 0-1.2-.2-1.6-.5l-1.2 1.9c.8.6 1.8.9 2.8.9 1.5 0 2.9-.6 3.9-1.6l-1.6-1.6zm-2.1-7.7c-3 0-5.5 2.4-5.5 5.4 0 1.1.3 2.2.9 3.1l9.8-4.2c-.6-2.5-2.7-4.3-5.2-4.3zm-3.3 5.8v-.4c0-1.8 1.5-3.2 3.2-3.2 1 0 1.8.5 2.4 1.1l-5.6 2.5zm11.6-8.3v10.5l1.8.8-.9 2.1-1.8-.8c-.4-.2-.7-.4-.9-.7-.2-.3-.3-.7-.3-1.3V5.3h2.1zM26 10.2c.3-.1.7-.2 1-.2 1.5 0 2.8 1.1 3.1 2.6l2.2-.4c-.5-2.5-2.7-4.4-5.3-4.4-.6 0-1.2.1-1.7.3l.7 2.1zm-2.6 7.1l1.5-1.7c-.7-.6-1.1-1.4-1.1-2.4s.4-1.8 1.1-2.4l-1.5-1.7c-1.1 1-1.8 2.5-1.8 4.1 0 1.7.7 3.1 1.8 4.1zm6.7-3.4c-.3 1.5-1.6 2.6-3.1 2.6-.4 0-.7-.1-1-.2l-.7 2.1c.5.2 1.1.3 1.7.3 2.6 0 4.8-1.9 5.3-4.4l-2.2-.4z"/></g></g></svg>
              </li><li>
                <svg class="payment-icons__icon" role="img" aria-labelledby="pi-hypercard" viewBox="0 0 38 24" width="38" height="24" xmlns="http://www.w3.org/2000/svg"><title id="pi-hypercard">Hypercard</title><g fill="none" fill-rule="evenodd"><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" fill-rule="nonzero" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF" fill-rule="nonzero"/><path d="M11.9 5.1H8.6c-1.4.1-2.6.6-2.9 1.8-.2.6-.3 1.3-.4 2-.7 3.3-1.3 6.7-2 9.9h25.4c2 0 3.3-.4 3.7-2 .2-.7.3-1.5.5-2.3.6-3.1 1.3-6.2 1.9-9.4H11.9z" fill="#B3131B" fill-rule="nonzero"/><path d="M6.38 9.31h.605v1.827h2.3V9.31h.605v4.421h-.605v-2.067h-2.3v2.067h-.604v-4.42zm4.364 1.213h.551v3.208h-.55v-3.208zm0-1.213h.551v.614h-.55V9.31zm3.36 3.74c.168-.212.252-.528.252-.95 0-.257-.037-.477-.111-.662-.14-.355-.398-.533-.77-.533-.376 0-.633.188-.771.563a2.23 2.23 0 00-.112.765c0 .248.037.46.112.635.14.333.397.5.77.5a.773.773 0 00.63-.318zm-2.032-2.527h.526v.428c.109-.147.227-.26.355-.34.183-.12.398-.181.644-.181.366 0 .676.14.93.42.255.28.383.68.383 1.2 0 .701-.184 1.203-.551 1.504a1.25 1.25 0 01-.813.286c-.242 0-.446-.053-.61-.16a1.408 1.408 0 01-.323-.31v1.646h-.541v-4.493zm5.477.074c.215.107.378.246.49.417.109.162.181.352.217.569.032.148.048.385.048.71h-2.362c.01.327.087.59.232.787.144.197.368.296.67.296.284 0 .51-.093.678-.28a.944.944 0 00.205-.376h.532c-.014.119-.06.25-.14.396a1.432 1.432 0 01-.266.357c-.165.16-.368.268-.61.325a1.873 1.873 0 01-.443.048c-.402 0-.742-.146-1.02-.438-.28-.292-.419-.7-.419-1.227 0-.517.14-.938.421-1.26.281-.324.648-.485 1.102-.485.229 0 .45.054.665.16zm.199 1.265a1.403 1.403 0 00-.154-.562c-.148-.261-.396-.392-.743-.392a.824.824 0 00-.626.27c-.169.18-.258.408-.268.684h1.79zm1.237-1.354h.514v.557c.042-.108.146-.24.31-.396a.804.804 0 01.62-.23l.124.012v.572a.81.81 0 00-.178-.015c-.273 0-.482.088-.629.263a.92.92 0 00-.22.607v1.853h-.541v-3.223zm4.166.172c.228.176.365.48.411.912h-.526a.972.972 0 00-.22-.495c-.115-.132-.298-.198-.55-.198-.346 0-.593.169-.741.506-.097.219-.145.489-.145.81 0 .323.068.594.205.815.136.22.351.331.644.331.225 0 .403-.068.534-.206.132-.137.222-.325.273-.564h.526c-.06.427-.21.74-.451.937-.241.198-.549.297-.924.297-.422 0-.758-.154-1.008-.462-.251-.308-.377-.693-.377-1.154 0-.566.138-1.007.413-1.322a1.332 1.332 0 011.05-.472c.363 0 .659.088.886.265zm1.54 2.564c.114.09.25.135.406.135.19 0 .375-.044.554-.132a.745.745 0 00.451-.72v-.436a.927.927 0 01-.256.106 2.18 2.18 0 01-.307.06l-.328.042a1.255 1.255 0 00-.442.123c-.167.095-.25.245-.25.452 0 .156.057.28.172.37zm1.14-1.466c.125-.016.208-.068.25-.156a.476.476 0 00.036-.208c0-.185-.065-.318-.197-.402-.131-.083-.32-.125-.564-.125-.283 0-.484.077-.602.23a.752.752 0 00-.13.375h-.505c.01-.397.139-.673.387-.829a1.59 1.59 0 01.862-.233c.38 0 .687.072.924.217.235.144.352.369.352.674v1.857c0 .056.012.101.035.135.023.034.071.051.146.051a.824.824 0 00.177-.018v.4c-.084.025-.148.04-.192.046a1.408 1.408 0 01-.181.009c-.187 0-.322-.067-.406-.199a.767.767 0 01-.094-.298c-.11.145-.269.27-.475.376a1.47 1.47 0 01-.683.16c-.3 0-.544-.091-.733-.273a.905.905 0 01-.285-.681c0-.3.094-.531.28-.695.187-.165.432-.266.735-.304l.863-.109zm1.716-1.27h.514v.557c.043-.108.146-.24.31-.396a.804.804 0 01.62-.23l.124.012v.572a.81.81 0 00-.178-.015c-.273 0-.482.088-.629.263a.92.92 0 00-.22.607v1.853h-.541v-3.223zm2.6 2.516c.147.233.381.35.704.35a.745.745 0 00.619-.324c.161-.216.242-.525.242-.929 0-.407-.083-.708-.25-.904a.78.78 0 00-.617-.294.814.814 0 00-.663.313c-.17.21-.255.516-.255.921 0 .345.074.634.22.867zm1.216-2.417c.096.06.206.166.328.316V9.295h.52v4.436h-.487v-.448a1.172 1.172 0 01-.448.43c-.173.089-.37.133-.593.133-.36 0-.67-.151-.933-.453-.263-.302-.394-.704-.394-1.206 0-.469.12-.876.36-1.22.239-.344.582-.516 1.027-.516.247 0 .453.052.62.156z" fill="#FFF"/></g></svg>
              </li><li>
                <svg class="payment-icons__icon" width="38" height="24" role="img" aria-labelledby="pi-jcb" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg"><title id="pi-jcb">JCB</title><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero"><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"/></g><path d="M11.5 5H15v11.5a2.5 2.5 0 0 1-2.5 2.5H9V7.5A2.5 2.5 0 0 1 11.5 5z" fill="#006EBC"/><path d="M18.5 5H22v11.5a2.5 2.5 0 0 1-2.5 2.5H16V7.5A2.5 2.5 0 0 1 18.5 5z" fill="#F00036"/><path d="M25.5 5H29v11.5a2.5 2.5 0 0 1-2.5 2.5H23V7.5A2.5 2.5 0 0 1 25.5 5z" fill="#2AB419"/><path d="M10.755 14.5c-1.06 0-2.122-.304-2.656-.987l.78-.676c.068 1.133 3.545 1.24 3.545-.19V9.5h1.802v3.147c0 .728-.574 1.322-1.573 1.632-.466.144-1.365.221-1.898.221zm8.116 0c-.674 0-1.388-.107-1.965-.366-.948-.425-1.312-1.206-1.3-2.199.012-1.014.436-1.782 1.468-2.165 1.319-.49 3.343-.261 3.926.27v.972c-.572-.521-1.958-.898-2.919-.46-.494.226-.737.917-.744 1.448-.006.56.245 1.252.744 1.497.953.467 2.39.04 2.919-.441v1.01c-.358.255-1.253.434-2.129.434zm8.679-2.587c.37-.235.582-.567.582-1.005 0-.438-.116-.687-.348-.939-.206-.207-.58-.469-1.238-.469H23v5h3.546c.696 0 1.097-.23 1.315-.415.283-.25.426-.53.426-.96 0-.431-.155-.908-.737-1.212zm-1.906-.281h-1.428v-1.444h1.495c.956 0 .944 1.444-.067 1.444zm.288 2.157h-1.716v-1.513h1.716c.986 0 1.083 1.513 0 1.513z" fill="#FFF" fill-rule="nonzero"/></g></svg>
              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><circle fill="#EB001B" cx="15" cy="12" r="7"/><circle fill="#F79E1B" cx="23" cy="12" r="7"/><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"/></svg>
              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"/><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"/><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"/></svg>
              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-santander"><title id="pi-santander">Santander</title><path fill="#fff" stroke="#000" stroke-width="1.891" d="M-5.445-3.677h48.889v34.42H-5.445z"/><path d="M7 12V0h24v24H7V12z" fill="#fbfbfb"/><path d="M14.946 22.014c-2.608-.566-4.353-1.46-5.648-2.893-1.701-1.884-1.377-4.214.816-5.853 1.068-.8 3.704-2.027 4.35-2.027.22 0 1.33 1.434 2.468 3.187 1.137 1.753 2.17 3.189 2.296 3.19.698.007-.002-1.794-1.67-4.294-1.81-2.714-1.896-2.927-1.898-4.71-.002-2.06.71-3.309 1.733-3.04.437.113.544-.046.545-.818.001-1.111 1.01-2.933 1.625-2.933.244 0 .492.438.59 1.041.093.573 1.003 2.281 2.022 3.797s1.929 3.136 2.022 3.6c.14.704.573 1.036 2.584 1.985 2.837 1.337 3.609 2.307 3.61 4.539.001 1.272-.138 1.583-1.179 2.623-2.625 2.625-8.898 3.771-14.266 2.606zm5.524-11.783c-.808-1.194-1.704-2.584-1.989-3.087-.514-.907-.519-.909-.532-.157-.016.899 3.732 6.556 3.888 5.87.057-.25-.558-1.43-1.367-2.626z" fill="#f5d1cf"/><path d="M14.458 21.707c-6.001-1.51-7.864-5.796-3.714-8.545.735-.487 1.924-1.079 2.643-1.316 1.213-.4 1.331-.39 1.637.137.182.312 1.117 1.742 2.077 3.176.961 1.434 1.751 2.814 1.757 3.066.016.756.901-.609.901-1.39 0-.367-.842-1.947-1.871-3.51-2.127-3.232-2.535-4.877-1.638-6.61.621-1.202 1.17-1.086 1.404.297.097.571 1.02 2.318 2.052 3.882s1.876 2.973 1.876 3.132c0 .159.137.204.304.1.729-.45.204-1.959-1.676-4.82-2.14-3.257-2.435-4.487-1.506-6.283.6-1.159.955-1.134 1.223.086.119.54 1.01 2.162 1.98 3.605s1.882 3.08 2.027 3.639c.223.861.513 1.115 1.911 1.678 3.535 1.42 5.147 3.779 4.096 5.993-.613 1.291-2.663 2.744-4.851 3.437-2.18.69-8.3.832-10.632.246z" fill="#f4b0ae"/><path d="M16.57 21.965c-4.38-.58-8.051-3-8.051-5.306 0-1.749 2.836-4.316 5.186-4.696 1.03-.167 1.062-.137 2.865 2.65 1.002 1.55 1.938 3.14 2.08 3.533.38 1.055 1.11.308 1.11-1.137 0-.891-.413-1.774-1.861-3.978-2.069-3.15-2.438-4.487-1.659-5.994.59-1.142 1.09-1.247 1.09-.23 0 .403.88 2.05 1.959 3.663 1.077 1.612 2.044 3.199 2.148 3.526.291.918.753.377.753-.881 0-.874-.403-1.723-1.788-3.772-2.034-3.01-2.397-4.242-1.723-5.855.454-1.088 1.08-1.204 1.08-.202 0 .284.778 1.678 1.729 3.096.95 1.42 1.956 3.18 2.235 3.914.433 1.139.711 1.412 1.898 1.862 3.089 1.173 4.468 2.559 4.468 4.49 0 3.5-6.866 6.2-13.52 5.317z" fill="#f4908f"/><path d="M14.299 21.403c-3.416-.952-5.484-2.716-5.465-4.66.012-1.31.462-2.189 1.562-3.052.882-.691 3.223-1.825 3.79-1.836.447-.009 4.358 5.77 4.358 6.441 0 .979.609.862 1.123-.216.659-1.382.439-2.016-1.884-5.436-1.486-2.188-1.72-2.725-1.72-3.957 0-1.417.483-2.452.997-2.134.148.091.27.399.27.682 0 .284.888 1.845 1.974 3.47 1.086 1.624 1.974 3.152 1.974 3.397 0 .836.609.822.93-.021.454-1.197.202-1.88-1.847-5-1.888-2.877-2.266-4.332-1.498-5.768.345-.643.896-.517.896.205 0 .245.89 1.774 1.975 3.398 1.086 1.624 1.975 3.245 1.975 3.601 0 .813.46 1.199 2.132 1.789 2.772.978 4.467 2.984 4.114 4.868-.25 1.334-2.056 2.927-4.308 3.8-2.345.909-8.76 1.152-11.348.43z" fill="#f3817c"/><path d="M14.975 21.413c-5.143-1.117-7.555-4.3-5.249-6.927.776-.884 4.423-2.889 4.711-2.59.72.749 4.107 6.254 4.107 6.675 0 .828.756.695 1.167-.206.682-1.497.414-2.397-1.622-5.442-1.647-2.463-1.974-3.164-1.97-4.217.002-.695.124-1.451.27-1.682.311-.492.94-.196.94.444 0 .244.889 1.773 1.975 3.397 1.086 1.624 1.974 3.185 1.974 3.47 0 .813.543.937.93.212.589-1.099.144-2.741-1.308-4.832-2.404-3.464-2.868-4.95-1.938-6.22.403-.552.423-.55.623.078.113.357.972 1.775 1.91 3.151.937 1.376 1.867 3.057 2.068 3.735.333 1.13.517 1.291 2.198 1.933 1.008.385 2.327 1.179 2.929 1.764.924.897 1.095 1.268 1.095 2.375 0 1.657-.771 2.677-2.8 3.705-3.065 1.553-8.036 2.04-12.01 1.177z" fill="#f45c5c"/><path d="M14.299 21.1c-3.017-.842-5.029-2.37-5.183-3.935-.12-1.232.03-1.673.92-2.686.844-.961 3.686-2.483 4.24-2.27.474.184 3.754 5.275 4.024 6.247.365 1.32.947 1.245 1.603-.21.706-1.564.519-2.193-1.55-5.213-1.972-2.88-2.4-4.075-1.91-5.329l.341-.869.281.734c.155.404 1.08 1.91 2.056 3.346.976 1.437 1.871 3.055 1.99 3.595.282 1.285.697 1.245 1.268-.123.62-1.484.398-2.174-1.729-5.353-1.524-2.279-1.802-2.902-1.802-4.041 0-.741.103-1.338.228-1.326.42.04 3.868 5.523 4.33 6.883.413 1.22.614 1.407 2.206 2.048 2.36.95 3.159 1.512 3.738 2.632 1.075 2.079-.326 4.13-3.718 5.445-2.33.904-8.753 1.144-11.333.425z" fill="#f32e2e"/><path d="M15.753 21.128c-3.657-.764-6.022-2.27-6.46-4.115-.252-1.065.728-2.522 2.32-3.45 2.515-1.463 2.621-1.427 4.5 1.54.92 1.45 1.785 3.054 1.923 3.564.139.51.375 1.055.525 1.21.424.437 1.364-.598 1.768-1.947.444-1.482.102-2.416-2.04-5.56-1.467-2.152-2.064-3.61-1.713-4.178.306-.494 4.023 5.264 4.227 6.546.23 1.446.274 1.492 1.036 1.084.73-.39.99-1.102 1.013-2.77.015-1.026-.298-1.702-1.841-3.982-1.435-2.12-1.86-3-1.86-3.855 0-1.087.04-1.05 1.976 1.844 1.086 1.624 1.974 3.15 1.974 3.39 0 1 .484 1.434 2.91 2.608 2.643 1.28 3.47 2.173 3.47 3.748 0 3.133-7.744 5.572-13.728 4.323z" fill="#f80505"/></svg>
              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" width="38" height="24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="pi-venmo"><title id="pi-venmo">Venmo</title><g fill="none" fill-rule="evenodd"><rect fill-opacity=".07" fill="#000" width="38" height="24" rx="3"/><path fill="#3D95CE" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path d="M24.675 8.36c0 3.064-2.557 7.045-4.633 9.84h-4.74L13.4 6.57l4.151-.402 1.005 8.275c.94-1.566 2.099-4.025 2.099-5.702 0-.918-.154-1.543-.394-2.058l3.78-.783c.437.738.634 1.499.634 2.46z" fill="#FFF" fill-rule="nonzero"/></g></svg>

              </li><li>
                <svg class="payment-icons__icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"/></svg>
              </li></ul></div>
  </div>
</footer>




</div>

  </div>

  
  
    <script id="CartTemplate" type="text/template">
      
        <form action="#cart" method="get" novalidate class="cart ajaxcart">
          <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer">
            {{#items}}
            <div class="ajaxcart__row">
              <div class="ajaxcart__product" data-line="{{line}}">
                <div class="grid grid--half-gutters">
                  <div class="grid__item one-quarter">
                    <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
                  </div>
                  <div class="grid__item three-quarters">
                    <div class="ajaxcart__product-name-wrapper">
                      <a href="{{url}}" class="ajaxcart__product-name h4">{{name}}</a>
                      {{#if variation}}
                        <span class="ajaxcart__product-meta">{{variation}}</span>
                      {{/if}}
                      {{#properties}}
                        {{#each this}}
                          {{#if this}}
                            <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                          {{/if}}
                        {{/each}}
                      {{/properties}}
                    </div>

                    <div class="grid">
                      <div class="grid__item one-half">
                        <div class="ajaxcart__qty">
                          <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="Reduce item quantity by one">
                            <span class="icon icon-minus" aria-hidden="true"></span>
                            <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
                          </button>
                          <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                          <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="Increase item quantity by one">
                            <span class="icon icon-plus" aria-hidden="true"></span>
                            <span class="icon__fallback-text" aria-hidden="true">+</span>
                          </button>
                        </div>
                      </div>
                      <div class="grid__item one-half text-right">
                        {{#if discountsApplied}}
                          <span class="visually-hidden">Regular price</span>
                          <del>{{{originalLinePrice}}}</del>
                          <span class="visually-hidden">Sale price</span>
                          <span class="order-discount">{{{linePrice}}}</span>
                        {{else}}
                          {{{linePrice}}}
                        {{/if}}
                        {{#if unitPrice}}
                          <span class="visually-hidden">Unit price</span>
                          <span class="product-price-unit">
                            

                            <span>{{{ unitPrice.price }}}</span><span aria-hidden="true">/</span><span class="visually-hidden">&nbsp;per&nbsp;</span>{{#if unitPrice.addRefererenceValue }}{{{ unitPrice.reference_value }}}{{/if}}{{{ unitPrice.reference_unit }}}
                          </span>
                        {{/if}}
                      </div>
                    </div>
                    {{#if discountsApplied}}
                      <div class="grid grid--table">
                        <div class="grid__item text-right">
                          <ul class="order-discount order-discount--list order-discount--title order-discount--cart order-discount--cart-title" aria-label="Discount">
                            {{#each discounts}}
                              <li class="order-discount__item">
                                <span class="icon icon-saletag" aria-hidden="true"></span>{{ this.discount_application.title }} (-{{{ this.formattedAmount }}})
                              </li>
                            {{/each}}
                          </ul>
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            {{/items}}

            
          </div>
          <div class="ajaxcart__footer ajaxcart__footer--fixed">
            <div class="ajaxcart__subtotal">
              {{#if cartDiscountsApplied}}
                <div class="grid grid--table ajaxcart__discounts">
                  {{#each cartDiscounts}}
                    <div class="grid__item two-thirds">
                      <span class="order-discount order-discount--title order-discount--cart-title">
                        <span class="icon icon-saletag" aria-hidden="true"></span><span class="visually-hidden">Discount:</span>{{ this.title }}
                      </span>
                    </div>
                    <div class="grid__item one-third text-right">
                      <span class="order-discount">-{{{ this.formattedAmount }}}</span>
                    </div>
                  {{/each}}
                </div>
              {{/if}}
              <div class="grid grid--table">
                <div class="grid__item two-thirds">
                  <span class="ajaxcart__subtotal-title h3">Subtotal</span>
                </div>
                <div class="grid__item one-third text-right">
                  <span>{{{totalPrice}}}</span>
                </div>
              </div>
            </div>

            <p class="text-center ajaxcart__policies txt--minor rte">
Taxes and shipping calculated at checkout

            </p>
            <button type="submit" class="btn btn--full cart__checkout" name="checkout">
              Check out
            </button>
          </div>
        </form>
      
    </script>
    <script id="JsQty" type="text/template">
      
        <div class="js-qty">
          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="Reduce item quantity by one">
            <span class="icon icon-minus" aria-hidden="true"></span>
            <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
          </button>
          <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="Increase item quantity by one">
            <span class="icon icon-plus" aria-hidden="true"></span>
            <span class="icon__fallback-text" aria-hidden="true">+</span>
          </button>
        </div>
      
    </script>

  
  <ul hidden>
    <li id="a11y-refresh-page-message">Choosing a selection results in a full page refresh.</li>
    <li id="a11y-selection-message">Press the space key then arrow keys to make a selection.</li>
  </ul>
</body>
</html>